@use '/src/styles/constants/colors';

.dropdownCont {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  margin: 30px;

  & .choosedMenuButton {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    padding: 0 15px;
    cursor: pointer;
    background-color: colors.$WHITE;
    border: solid 1px colors.$BLACK;
  }

  & p {
    margin: 0;
    vertical-align: middle;
  }

  & div .dropdownArrow {
    position: absolute;
    right: 10px;
    width: 10px;
    height: 10px;
  }

  & .menuList {
    position: absolute;
    top: 40px;
    box-sizing: border-box;
    width: 300px;
    padding: 0;
    list-style: none;
    border: 1px solid #000000;
  }

  & li {
    box-sizing: border-box;
    flex: 1;
    width: calc(100%);
    height: 40px;
    padding: 0;
    line-height: 40px;
    vertical-align: middle;
    cursor: pointer;
    border-bottom: 1px solid #000000;
    transition: all 0.2s;
  }

  & li:hover {
    background-color: #eeeeee;
  }

  & li:first-child {
    padding-left: 40px;
    border-bottom: none;
  }

  & .showBorderBottom li:first-child {
    border-bottom: 1px solid #000000;
  }

  & li:first-child:hover {
    background-color: transparent;
  }

  & li:last-child {
    border-bottom: none;
  }

  & li > input {
    width: 100%;
    height: 100%;
    padding: 0;
    font-size: 16px;
    vertical-align: top;
    border: none;
  }

  & li > input:focus {
    outline: none;
  }

  & li > input::placeholder {
    color: #aaaaaa;
  }

  & img.searchImg {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 20px;
    height: 20px;
  }

  & li button {
    display: blocks;
    width: calc(100%);
    height: 100%;
    padding: 0;
    padding-left: 40px;
    text-align: left;
    background-color: transparent;
    border: none;
  }

  & .blind {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }
}
