@use './src/styles/constants/colors';

.tabCont {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;
  width: 420px;
  height: 40px;
  margin: 30px;
  overflow: hidden;
}

.activeItem {
  --tab-index: 0;
  --tab-position: calc(var(--tab-index) * 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 140px;
  height: 4px;
  content: '';
  background-color: colors.$MAIN_COLOR;
  transition: all 0.5s;
  transform: translateX(var(--tab-position));
}

.tabButton {
  width: 140px;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: colors.$GRAYA;
  background: transparent;
  border: none;
  border-bottom: 4px solid colors.$GRAY_BASIC;
  transition: all 0.5s;
}

.active {
  font-weight: 600;
  color: colors.$BLACK;
}
