@use '/src/styles/constants/colors';

.toggleCont {
  position: relative;
  display: flex;
  justify-content: center;
  width: 400px;
  height: 40px;
  margin: 30px;
  overflow: hidden;
  background-color: #ebebeb;
  border: 4px solid #ebebeb;
  border-radius: 50px;
}

.activeItem {
  --toggle-index: 0;
  --toggle-position: calc(var(--toggle-index) * 100%);
  position: absolute;
  left: 0;
  z-index: 10;
  width: 50%;
  height: 100%;
  content: '';
  background-color: colors.$WHITE;
  border: var(--toggle-border) solid black;
  border-radius: 50px;
  transition: all 0.5s;
  transform: translateX(var(--toggle-position));
}

.toggleButton {
  z-index: 20;
  width: 50%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: colors.$GRAYA;
  background: transparent;
  border: none;
  transition: all 0.5s;
}

.active {
  font-weight: 600;
  color: colors.$BLACK;
}
